body {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100vh;
    width:100%;
    font-family: monospace;
    color: white;
    font-size: 13px;
    line-height: 22px;
    margin:0;
    overflow: hidden;
    background-color : black;
    top: 0;

}

#main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-family: inherit;  /* Ensures font family is inherited from the parent */
    font-size: inherit;    /* Ensures font size is inherited from the parent */
    color: inherit;        /* Ensures text color is inherited from the parent */
}

#top {
    display: flex;
    align-items: flex-start;
    width: 100%;
    top: 0;
}

#video-container {
    position: relative;
    width: 33.33%;
    height: 100%;
    overflow: hidden;
    place-items: center;
    display: block;

}

#video-container::before {
    content: "";
    position: relative;
    width: 33.33%;
    height: 100%;
    display: block;
    place-items: center;
    padding-top: 100%; /* This sets the aspect ratio to 1:1 (square) */
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1); /* Mirror along the x-axis */

}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1); /* Mirror along the x-axis */
}

#top-image-container {
    position: relative;
    width: 66.66%;
    height: 100%;
    align-items: center; /* Align items vertically centered */
    display: flex;
    margin: 0; /* Reset margin to ensure no default margin */
    padding: 0; /* Reset padding to ensure no default padding */
    overflow: hidden;

}

.top-image,
.next-image {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    /*transition: opacity 1s linear; !* Adjust the duration as needed *!*/

}

.current-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0px solid white; /* Add white border */
    box-sizing: border-box; /* Include border in total width and height */

}

.next-image {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0px solid white; /* Add white border */
    box-sizing: border-box; /* Include border in total width and height */

}

#top-image-container img {
    margin: 0; /* Reset margin to ensure no default margin */
    padding: 0; /* Reset padding to ensure no default padding */
    /*position: relative;*/
    width: 100%;
    overflow: hidden;

    height: 100%;
    /*height: auto; !* Allow the images to maintain their aspect ratio *!*/
    object-fit: cover;
}

.top-image{
    overflow: hidden;

}

#bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;

}

#bottom-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*align-items: stretch;*/
}

#bottom-image-container img {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex: 1; /* Fill the available space */
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-row {
    display: flex;
    align-items:center;
    width: 100%;
    height: 100%;
    /*justify-content: space-between; !* or any other layout style you prefer *!*/
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1000; /* Ensure it's on top of other elements */
    transition: opacity 1s ease-in;
}


.grid-image {
    display: block; /* Make the image a block-level element */
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*transition: opacity 2s ease-in-out; !* Opacity transition *!*/

}

.image-item-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
    padding:0;
    /*object-fit: cover;*/

    margin: 0; /* Reset margin to ensure consistent spacing */
}

.image-item-container img{
    height: 100%;
    overflow: hidden;
    width: 100%;

}


.bottom-text-overlay, .top-text-overlay {
    position: absolute;
    /*left: 0;*/
    /*width: 100%;*/
    z-index: 1; /* Ensure it's above the image */
    box-sizing: border-box;
    /* Adjust the padding as needed */
    padding: 2px 3px;
    line-height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: clamp(.5rem, .7vw, 1.5rem);
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Let it overflow visually */
    display: inline-block;

}

.bottom-text-overlay{
    bottom: 4px;
    left: 4px;
    width: calc(100% - 16px); /* 100% width plus 8px on both sides */
    text-align: center;

}

.top-text-overlay{
    top: 4px;
    left:4px;
    /*width: 100%;*/
}

/* Add media query for larger screens if needed */
@media screen and (min-width: 768px) {
    .text-overlay {
        font-size: 12px; /* Set a specific font size for screens larger than 768px */
    }
}

.placeholder {
    height: 100%;
    width: 50%;
}

.play-pause-button {
    bottom: 5px;
    left: 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 8%; /* Set the width of the icons to 100% */
    height: 8%;
    padding: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#play-icon,
#pause-icon {
    width: 60%; /* Set the width of the icons */
    min-width: 5px;
    min-height:5px;
    height: 60%; /* Allow the height to adjust based on the width */
    background-size: contain; /* Ensure the background image fits within the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */

}

#play-icon {
    background-image: url('svg/play.svg'); /* Replace 'play-icon.svg' with the path to your play icon image */
}

#pause-icon {
    background-image: url('svg/pause.svg'); /* Replace 'pause-icon.svg' with the path to your pause icon image */
    display: none; /* or your preferred display property */
}


.slider-container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    width:10px; /* Adjust the width as needed */
}

#zoom-slider {
    flex: 1;
}

.slider-label {
    width: 80px; /* Set a specific width for the label */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    margin-right: 10px;
}

.panel-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: block; /* Make the buttons initially visible */
    z-index: 5;
    color: #333;
}

.close-button {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #333;
    display: block; /* Make the buttons initially visible */
}

/* Side panel styles */
.side-panel {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 2;
    overflow-y: auto;
    color: black;
}

.side-panel.open {
    right: 0; /* Display side panel when open class is applied */
}

/* Add this CSS to your styles.css file */
.radio-container {
    margin: 10px 0;
}

.radio-label {
    font-weight: bold;
}

.radio-options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-options input[type="radio"] {
    margin-right: 5px;
}

/* Style the selected radio button */
.radio-options input[type="radio"]:checked + label {
    color: #007BFF; /* Change the color to your preference */
}

/* Add hover effect to radio labels */
.radio-options label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 169, 169, 1); /* Light grey with transparency */
    opacity: 0.7;
    pointer-events: none; /* Allows interactions with elements behind the overlay */
    z-index: 1
}

.enter-button {
    font-family: monospace;
    display: block; /* Makes sure the button is a block-level element */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: none;
    padding: 10px 20px;
    touch-action: manipulation;
    border-radius: 5px;
    cursor: pointer; /* Default cursor when enabled */
    background-color: #555555; /* Lighter grey as the default background color */
    color: #ffffff; /* Default text color */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for feedback */
}

.enter-button:disabled {
    cursor: default; /* Change cursor to default when button is disabled */
    background-color: #aaaaaa; /* Optional: change background color when disabled */
}
@keyframes ellipsis {
    0% { content: ''; }
    33% { content: '.'; }
    66% { content: '..'; }
    100% { content: '...'; }
}

.ellipsis:after {
    content: '';
    animation: ellipsis 1s infinite;
}
.enter-button:active {
    background-color: #333333; /* Dark grey when button is pressed */
    transform: scale(0.95); /* Slightly shrink the button to simulate a press */
}
.enter-button.loading {
    pointer-events: none; /* Disables clicking */
    opacity: 0.5; /* Visual feedback that it's disabled */
    background-size: contain;
}
.enter-button.loading::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 3px solid #f3f3f3; /* Light grey border */
    border-top: 3px solid #333333; /* Blue border */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.enter-button:hover {
    background-color: #616161; /* darker blue on hover */
}

.overlay-content {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* shadow effect */
}
.choose-db-button, .language-button {
    font-family: inherit; /* This makes the button inherit the font family from its parent */
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; /* Adjust as needed */
    padding: 5px 10px; /* Adjust as needed */
    color: white; /* Subtle text color */
    background-color: black;
    font-size: 9px;
    border: 1px solid #333333; /* Subtle border */
    cursor: pointer;
}

.choose-db-button:hover {
    background-color: #333333; /* Slightly darker on hover for better user experience */
}
.overlay-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.overlay-text {
    margin-bottom: 15px;
}

.overlay-list {
    margin-bottom: 15px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    color: black;
    justify-content: center;
    align-items: center;

}
.modal-content h2 {
    /*margin-top: 5px; !* Adjusts the top margin to 10px *!*/
    margin-bottom: 20px; /* Adjusts the bottom margin to 20px, for example */
}
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    display: inline-block; /* Adjust the display to match content width */
    border-radius: 5px;
    transition : opacity .5s ease-in;
    max-width: 80%; /* Ensure it doesn't overflow the viewport */}

.close {
    color: #aaa;
    float: right;
    top:-12px;
    right:-5px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.name {
    /*padding-top: 5px;*/
    /*white-space: normal; !* Allows text to wrap *!*/
    /*word-wrap: break-word; !* Ensures long words do not overflow *!*/
}

form#dbForm label {
    display: block;
    margin-bottom: 20px; /* Adds space between the options */
}

form#dbForm label p {
    margin-top: 5px;
    font-size: 0.9em; /* Smaller text for the description */
    color: #666; /* Lighter text color for descriptions */
}

.ok-button {
    padding: 8px 16px; /* Provides padding inside the button */
    background-color: grey; /* Sets a blue background color */
    color: white; /* Sets the text color to white */
    border: none; /* Removes the default border */
    border-radius: 4px; /* Gives the button rounded corners */
    cursor: pointer; /* Changes the mouse cursor to a pointer when hovering over the button */
    font-size: .7em; /* Sets the font size of the button text */
    margin-top: 10px; /* Adds space above the button */
}
